<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>肥胖等級預測</title>
</head>
<body style="background-color:#6F3939; color:#FFFFFF; font-size:25px;">
    <h2 align="center">肥胖等級預測</h2>
    <form action="result">
        <table border="1" cellpadding="1" cellspacing="4" align="center">
            <tr>
                <th align="left">年齡</th>
                <td>
                    <input type="number" name="Age" max="123" min="0">
                </td>
            </tr>
            <tr>
                <th align="left">性別</th>
                <td>
                    <input name="Gender" type="radio" id="Gender" value="1" checked="checked"/>男
                    <input name="Gender" type="radio" id="Gender" value="0"/>女
                </td>
            </tr>
            <tr align="left">
                <th>身高</th>
                <td>
                    <input type="number" name="Height" max="272" min="56" step="0.01" placeholder="單位:公分">
                </td>
            </tr>
            <tr align="left">
                <th>體重</th>
                <td>
                    <input type="number" name="Weight" max="635" min="2.1" step="0.01" placeholder="單位:公斤">
                </td>
            </tr>
            <tr>
                <th align="left">請問你經常喝酒?</th>
                <td>
                    <input name="CALC" type="radio" id="CALC" value="0"/>總是
                    <input name="CALC" type="radio" id="CALC" value="1"/>經常
                    <input name="CALC" type="radio" id="CALC" value="2" checked="checked"/>偶爾
                    <input name="CALC" type="radio" id="CALC" value="3"/>沒有
                </td>
            </tr>
            <tr>
                <th align="left">請問你經常吃高熱量的食物嗎?</th>
                <td>
                    <input name="FAVC" type="radio" id="FAVC" value="1"/>是
                    <input name="FAVC" type="radio" id="FAVC" value="0" checked="checked"/>否
                </td>
            </tr>
            <tr>
                <th align="left">請問你吃飯時經常會搭配蔬菜嗎?</th>
                <td>
                    <input name="FCVC" type="radio" id="FCVC" value="3" checked="checked"/>總是
                    <input name="FCVC" type="radio" id="FCVC" value="2"/>偶爾
                    <input name="FCVC" type="radio" id="FCVC" value="1"/>沒有
                </td>
            </tr>
            <tr>
                <th align="left">請問你一天吃幾頓正餐?</th>
                <td>
                    <input name="NCP" type="radio" id="NCP" value="1"/>1頓或沒有
                    <input name="NCP" type="radio" id="NCP" value="2"/>2頓
                    <input name="NCP" type="radio" id="NCP" value="3" checked="checked"/>3頓
                    <input name="NCP" type="radio" id="NCP" value="4"/>3頓以上
                </td>
            </tr>
            <tr>
                <th align="left">請問你會監測你一天吃多少卡路里嗎?</th>
                <td>
                    <input name="SCC" type="radio" id="SCC" value="1"/>是
                    <input name="SCC" type="radio" id="SCC" value="0" checked="checked"/>否
                </td>
            </tr>
            <tr>
                <th align="left">請問你抽菸嗎?</th>
                <td>
                    <input name="SMOKE" type="radio" id="SMOKE" value="1"/>是
                    <input name="SMOKE" type="radio" id="SMOKE" value="0" checked="checked"/>否
                </td>
            </tr>
            <tr>
                <th align="left">請問你一天喝多少水?</th>
                <td>
                    <input name="CH2O" type="radio" id="CH2O" value="1"/>少於1公升
                    <input name="CH2O" type="radio" id="CH2O" value="2" checked="checked"/>1~2公升
                    <input name="CH2O" type="radio" id="CH2O" value="3"/>大於2公升
                </td>
            </tr>
            <tr>
                <th align="left">請問你的家庭成員中是否有人超重?</th>
                <td>
                    <input name="FHWO" type="radio" id="FHWO" value="1"/>是
                    <input name="FHWO" type="radio" id="FHWO" value="0" checked="checked"/>否
                </td>
            </tr>
            <tr>
                <th align="left">請問你一個禮拜運動幾天?</th>
                <td>
                    <input name="FAF" type="radio" id="FAF" value="0" checked="checked"/>沒有
                    <input name="FAF" type="radio" id="FAF" value="1"/>1~2天
                    <input name="FAF" type="radio" id="FAF" value="2"/>2~4天
                    <input name="FAF" type="radio" id="FAF" value="3"/>4天以上
                </td>
            </tr>
            <tr>
                <th align="left">請問你一天花多少時間使用3C產品?</th>
                <td>
                    <input name="TUE" type="radio" id="TUE" value="0"/>0~2小時
                    <input name="TUE" type="radio" id="TUE" value="1"/>3~5小時
                    <input name="TUE" type="radio" id="TUE" value="2" checked="checked"/>大於5小時
                </td>
            </tr>
            <tr>
                <th align="left">請問你經常在兩餐之間吃任何食物嗎?</th>
                <td>
                    <input name="CAEC" type="radio" id="CAEC" value="0"/>總是
                    <input name="CAEC" type="radio" id="CAEC" value="1"/>經常
                    <input name="CAEC" type="radio" id="CAEC" value="2" checked="checked"/>偶爾
                    <input name="CAEC" type="radio" id="CAEC" value="3"/>沒有
                </td>
            </tr>
            <tr>
                <th align="left">請問你通常使用哪種交通工具?</th>
                <td>
                    <input name="MTRANS" type="radio" id="MTRANS" value="0"/>汽車
                    <input name="MTRANS" type="radio" id="MTRANS" value="1"/>腳踏車
                    <input name="MTRANS" type="radio" id="MTRANS" value="2"/>機車
                    <input name="MTRANS" type="radio" id="MTRANS" value="3" checked="checked"/>大眾交通運輸
                    <input name="MTRANS" type="radio" id="MTRANS" value="4"/>走路
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出"/>
                    <input type="reset" name="button2" id="button2" value="重設"/></th>
            </tr>   
        </table>
    </form>
</body>
</html>